body {
    font-family: sans-serif;
  }
  
  header {
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  ul {
    list-style-type: disc;
    padding: 10px;
  }
  
  ol {
    list-style-type: decimal;
    padding: 10px;
  }
  
  footer {
    text-align: center;
  }
  